@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 100px;
}

/*banner*/
.banner {
  position: relative;
  min-height: 100vh;
  background: url(/Images/banner1.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #c7d3dd;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 3em;
  color: #c7d3dd;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #64b6ac;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #5d737e;
}

/* header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky
{
  background: #64b6ac;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo 
{
  color: #c7d3dd;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo
{ 
  color: #5d737e;
}
header ul
{
  position: relative;
  display: flex;
}
header ul li 
{
  position: relative;
  list-style: none;
}
header ul li a 
{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #c7d3dd;
  text-decoration: none;
}
header.sticky ul li a
{
  color: #5d737e
}

/*about me*/
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #5d737e;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.contentBx {
  padding-right: 30px;
}
.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #5d737e;
}
.w50 {
  min-width: 50%;
}
img {
  max-width: 100%;
}

/* projects */
.projects
{
  background: #111;
}
.heading.white
{
  color: #c7d3dd;
}
.projects .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.projects .content .projectsBx
{
  padding: 40px 20px;
  background: #222;
  color: #c7d3dd;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  transition: 0.5s
}
.projects .content .projectsBx:hover
{
  background: #035e5b;
}
.projects .content .projectsBx img
{
  max-width: 80px;
  filter: inveret(1);
}
.projects .content .projectsBx h2
{
  font-size: 20px;
  font-weight: 600;
}

/*employment*/
.employment .content
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.employment .content .employmentBx
{
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: #64b6a6;

}

.employment .content .employmentBx h3
{
  margin-top: 40px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #5d737e;
}
.employment .content .employmentBx h2
{
   color: #5d737e;
   font-weight: 600;
   font-size: 24px;
}

.employment .content .employmentBx p
{
  color: #c7d3dd;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  text-align: end;
}
/*education*/
.education
{
  background:#111;
}
.education .heading
{
  color: #5d737e
}

.education .content
{
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.education .content .educationBx
{
  padding-right: 30px;
  color: #c7d3dd;
  text-align: center;
}

.education .content .educationBx h3
{
  margin-top: 40px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #c7d3dd;

}
.education .content .educationBx h2
{
  color: #c7d3dd;
  font-weight: 600;
  font-size: 24px;

}
.education .content .educationBx p
{
  color: #c7d3dd;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  text-align: end;

}

/*contact*/
.contact
{
  background: #c7d3dd;
}
.contact .content .contactInfo .contactInfoBx a
{
  text-decoration:  none;
}
.formBx form
{
  display: flex;
  flex-direction: column;

}
.formBx form h3, .contactInfo h3
{
  color: #64b6ac;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formBx form input, .formBx form textarea
{

  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #2222;
  color: #fff;
  resize:none;


}
.formBx form textarea
{
  min-height: 200px;
  width: 700px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
  color: #999;
}
.formBx form input[type="submit"]
{
  max-width: 100px;
  background:#035e5b;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contactInfo
{
  min-width: 40%;
}
.contactInfoBx, .referenceBx
{
  position: relative;
}
.contactInfoBx .box, .referenceBx .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon
{
  min-width: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;

}
.contactInfoBx .box .text
{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;


}
.contactInfoBx .box .text h3
{
  font-weight: 500;
  margin-bottom: 0;
}

/*Responsive*/
@media (max-width: 991px)
{
  header, header.sticky
  {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu
  {
    position: fixed;
    top: 112px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0,0,0,0.2);

  }
  .menu.active
  {
    left: 0;
  }
  header ul li a
  {
    color: #5d737e;
    font-size: 24px;
    margin: 10px;
  }
  .toggle
  {
    width: 40px;
    height: 40px;
    background: url(/Images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;

  }
  .toggle.active
  {
    background: url(/Images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle
  {
    filter: invert(1);
  }
  section 
  {
    padding: 100px 50px;
  }
  .banner
  {
    padding: 150px 50px 100px;
  }
  .banner h2
  {
    font-size: 1.5em;
  }
  .banner h3
  {
    font-size: 1em;
  }
  .btn
  {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 
  {
    font-size: 24px;
  }
  .contentBx h3 
  {
    font-size: 20px;
  }
  .content 
  {
    flex-direction: column;
  }
  .w50 
  {
    margin-bottom: 20px;
  }
  .projects .content .projectsBx 
  {
    margin: 10px;
  }
  .employment .content .employmentBx 
  {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #64b6a6;
  }
  .employment .content .employmentBx h3 
  {
    margin-bottom: 5px;
  }
  .education .content .educationBx 
  {
    margin-top: 10px;
  }
  .contactInfo 
  {
    margin: 20px 0;
  }

}
@media
