@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
section {
  padding: 100px;
}

/*banner*/
.banner {
  position: relative;
  min-height: 100vh;
  background: url(/Images/banner1.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #c7d3dd;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 3em;
  color: #c7d3dd;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #64b6ac;
  display: inlane-block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #5d737e;
}

/* header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky
{
  background: #64b6ac;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo 
{
  color: #c7d3dd;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo
{ 
  color: #5d737e;
}
header ul
{
  position: relative;
  display: flex;
}
header ul li 
{
  position: relative;
  list-style: none;
}
header ul li a 
{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #c7d3dd;
  text-decoration: none;
}
header.sticky ul li a
{
  color: #5d737e
}

/*about me*/
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #5d737e;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.contentBx {
  padding-right: 30px;
}
.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #5d737e;
}
.w50 {
  min-width: 50%;
}
img {
  max-width: 100%;
}
